{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}

{% set serviceName = "Single parent support hub" %}
{% if data['childAmount'] > 1 %}
  {% set pageTitle = "What are the names of your children? (optional)" %}
{% else %}
  {% set pageTitle = "What is the name of your child? (optional)" %}
{% endif %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l">
                {{pageTitle}}
              </label>
            </h1>
            
            <p class="govuk-body">
              Names are used for your own reference. They will appear on the financial agreement but will not be stored.
            </p>

            {{ govukInput({
              label: {
                text: "Name of Child 1"
              },
              classes: "govuk-input--width-20",
              id: "child-1-name",
              name: "child1Name"
            }) }}

            {% if data['childAmount'] > 1 %}
              {{ govukInput({
                label: {
                  text: "Name of Child 2"
                },
                classes: "govuk-input--width-20",
                id: "child-2-name",
                name: "child2Name"
              }) }}
            {% endif %}

            {% if data['childAmount'] > 2 %}
              {{ govukInput({
                label: {
                  text: "Name of Child 3"
                },
                classes: "govuk-input--width-20",
                id: "child-3-name",
                name: "child3Name"
              }) }}
            {% endif %}

          </div>

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
