{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}

{% set pageTitle = "Add details about household costs" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="450">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="household-additional">
                  {{pageTitle}}
                </label>
              </h1>

              <p class="govuk-body">Use this space to record any extra details about household costs.</p>

              <p class="govuk-body">This could include:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>What will happen if a payment is missed or lat</li>
                <li>How changes in costs will be handled (for example, energy price increases) </li>
              </ul>

              <div id="household-additional-hint" class="govuk-hint">
                Do not include personal financial information like your credit card details
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="household-additional" name="householdAdditional" rows="5" aria-describedby="household-additional-info household-additional-hint"></textarea>
              <div id="household-additional-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 450 characters
              </div>
            </div>

          {{ govukButton({
            text: "Continue"
          }) }}

          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
