{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}


{% set serviceName = "Single parent support hub" %}
{% set pageTitle %}
  Your financial agreement is ready to download
{% endset %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}    
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{pageTitle}}
            </h1>
          </div>

          <p class="govuk-body"><a href="#" class="govuk-link">Download a copy of your agreement (downloads a PDF)</a> to print and sign with the other parent.</p>

          <h2 class="govuk-heading-m">Next steps</h2>
          <p class="govuk-body">
            If you need advice about how to move forward, you can learn about <a href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation" rel="noreferrer noopener" target="_blank" class="govuk-link">planning your child maintenance conversation (opens in a new tab)</a>. 
          </p>

          <p class="govuk-body">
            If you cannot talk to the other parent, you can use the written agreement in mediation or with other third-party support.
          </p>

          <p class="govuk-body">
            Browse more resources and guidance on the <a href="../home" class="govuk-link">single parent support hub (opens in a new tab)</a>.
          </p>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
