{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}

{% set regularMethodLabels = {
  "direct-debit": "Direct debit",
  "standing-order": "Standing order",
  "bank-transfer": "Bank transfer",
  "cash": "Cash payment"
} %}


{% set pageTitle = "How will payments be made?" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="regular-method-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  {{pageTitle}}
                </h1>
              </legend>
              <div id="regular-method-hint" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="regular-method" name="regularMethod" type="checkbox" value="direct-debit">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Direct debit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="regular-method-2" name="regularMethod" type="checkbox" value="standing-order">
                  <label class="govuk-label govuk-checkboxes__label" for="regular-method-2">
                    Standing order
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="regular-method-3" name="regularMethod" type="checkbox" value="bank-transfer">
                  <label class="govuk-label govuk-checkboxes__label" for="regular-method-3">
                    Bank transfer
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="regular-method-4" name="regularMethod" type="checkbox" value="cash">
                  <label class="govuk-label govuk-checkboxes__label" for="regular-method-4">
                    Cash payment
                  </label>
                </div>                
              </div>
            </fieldset>
          </div>

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
