{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Create a written agreement" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        },
        {
          text: "Plan your private arrangement",
          href: version + "/planning-private-arrangement"
        }            
      ]
    }) }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            Most children benefit from having both parents or guardians involved in their lives in a positive way, whether they live with them or not. Parents can help to do this by working together with their children’s long-term interests at heart.
          </p>

          <p class="govuk-body">
            This arrangement form can help you work together to make sure your children get as much support as possible. Use it to make a record of what you have both agreed.
          </p>

          <p class="govuk-body">
            You can download or print the finished form.
          </p>

          <p class="govuk-body">
            If you still need to decide how much each parent should pay, you can <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state">work out the cost of your child</a>.
          </p>

          {{ govukButton({
            text: "Start now",
            href: "child-amount",
            isStartButton: true
          }) }}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
