{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Create a financial agreement" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        },
        {
          text: "Plan your private arrangement",
          href: version + "/planning-private-arrangement"
        }            
      ]
    }) }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            Most children benefit from having both parents or guardians involved in their lives in a positive way, whether they live with them or not. Parents can help working together for their children's long-term benefit.
          </p>

          <p class="govuk-body">
            A financial agreement can help both of you to focus on supporting your children. Use it to make a record of what you have both agreed.
          </p>

          <p class="govuk-body">This form will ask you about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your names and your children's names (optional)</li>
            <li>any regular payments or financial support</li>
            <li>any additional details you want to include</li>
          </ul>

          <p class="govuk-body">You do not need to include everything. Only add details that you both agree on.</p>

          <p class="govuk-body">You can download or print the finished form.</p>

          <p class="govuk-body">
            If you still need to decide how much each parent should pay, you can <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state">work out the cost of your child</a>.
          </p>

          <p class="govuk-body">We will not require information that can identify you or save your answers.</p>

          {{ govukButton({
            text: "Start now",
            href: "child-amount",
            isStartButton: true
          }) }}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
