{% extends "layouts/main.html" %}

{% block pageTitle %}
  How many children would you like to include? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="child-amount">
            How many children would you like to include?
          </label>
        </h1>

        <p class="govuk-body">
          Enter how many children you want to calculate costs for.
        </p>

        <input class="govuk-input govuk-input--width-10" id="child-amount" name="childAmount" type="text" spellcheck="false" inputmode="numeric">

      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
