{% extends "layouts/main-v3.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Set a review reminder" %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    "text": "Back",
    "href": "javascript:history.back()"
    }) 
  }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Set a review reminder</h1>

        <p>We will only send one reminder. You can set another later.</p>

        <form action="" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              When should we remind you?
            </label>
            <label class="govuk-label" for="sort">
              Remind me in
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="1" selected>1 year</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
              <option value="4">4 years</option>
              <option value="5">5 years</option>

            </select>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                How should we send the reminder?
              </legend>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Email
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Email address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                    Text message
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      Mobile phone number
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                  </div>
                </div>
              </div>              
            </fieldset>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
