{% extends "layouts/main.html" %}

{% block pageTitle %}
  Arrange finances for your child after separation
{% endblock %}

{# Blank header with no service name for this page #}
{% block header %}
  <header>
    {{ govukHeader({
      homepageUrl: "/"
    }) }}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Arrange finances for your child after separation"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div>
  <main>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Arrange finances for your child after separation
        </h1>

        <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
          <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
            <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
              Contents
            </h2>
            <ol class="govuk-prototype-kit-common-templates-contents-list__list">
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-1">
                  What is a private arrangement
                </a>
              </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-2">
                Using a private arrangement
                </a>
              </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-3">
                  If you can't make a private arrangement
                </a>
              </li>
              <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
                  Making a care arrangement
              </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-5">
                  Get separation advice
                </a>
              </li>              
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-6">
                  Get financial advice
                </a>
              </li>
              <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
                <a href="page-7">
                  Get additional support
                </a>
              </li>
            </ol>
          </nav>
        </aside>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
        
        <h2 class="govuk-heading-l">
          Making a care arrangement
        </h2>
        
        <p>There are many reasons why your child may split their time between parents. A care arrangement is an agreement between parents about how your child will split their time, including considerations like:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Where they spend the night
          </li>
          <li>
            Who takes them to school and picks them up
          </li>        
          <li>
            When and where the child can see the parent they do not live with
          </li>
        </ul>

        <p>You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            get help <a href="" class="govuk-link govuk-link--no-visited-state">making child arrangements if you divorce or separate</a>, including a 	written plan, mediation or a court order
          </li>
          <li>
            <a href="" class="govuk-link govuk-link--no-visited-state">get support if you are separated from your children</a>
          </li>         
        </ul>

        <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

        {{ govukPagination({
          previous: {
            labelText: "If you can't make a private arrangement",
            href: "page-3"
          },
          next: {
            labelText: "Get separation advice",
            href: "page-5"
          }
        }) }}

        <p>
          <a href="#">
            View a printable version of the whole guide
          </a>
        </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>

{% endblock %}
