{% extends "layouts/main-v3.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Service name" %}
{% set pageTitle = "You have set a reminder" %}

{% set monthNames = {
  "1": "January",
  "2": "February",
  "3": "March",
  "4": "April",
  "5": "May",
  "6": "June",
  "7": "July",
  "8": "August",
  "9": "September",
  "10": "October",
  "11": "November",
  "12": "December"
} %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{pageTitle}}
            </h1>
          </div>

          <p class="govuk-body">
            {% if data['reminder-method'] == "email" %}
            We will email you on <strong>{{ data['reminder-day']}} {{ monthNames[data['reminder-month']] }} {{ data['reminder-year']}}</strong> to remind you to review your financial arrangement.
            {% elif data['reminder-method'] == "text" %}
            We will send you a text message you on <strong>{{ data['reminder-day']}} {{ monthNames[data['reminder-month']] }} {{ data['reminder-year']}}</strong> to remind you to review your financial arrangement.
            {% endif %}
          </p>

          <p class="govuk-body">
            We have sent a confirmation 
            {% if data['reminder-method'] == "email" %}
            email to <strong>{{ data['reminderByEmail']}}</strong>.
            {% elif data['reminder-method'] == "text" %}
            text message to <strong>{{ data['reminderByText']}}</strong>.
            {% endif %}
          </p>

          <p class="govuk-body">
            <a href="../home" class="govuk-link govuk-link--no-visited-state">Return home</a>
          </p>         
          
        </div>
      </div>
    </main>
  </div>
{% endblock %}
