{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ child2 }}'s costs for one-time costs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

        <h1 class="govuk-heading-l">
          {{ child2 }}'s costs for one-time costs
        </h1>

        <p class="govuk-body">
          Tell us about {{ child2 }}'s costs for one-time costs. If you leave an amount empty it will not be included in the calculation summary.
        </p>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Electronics
          </legend>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <label class="govuk-label" for="child2-onetime-cost-1">
                Amount
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="child2-onetime-cost-1" name="child2-onetime-cost-1" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Other
          </legend>
          <div class="govuk-form-group govuk-!-margin-bottom-2">
            <label class="govuk-label" for="child2-onetime-cost-other-name">
              Cost name
            </label>
            <input class="govuk-input govuk-input--width-20" id="child2-onetime-cost-other-name" name="child2-onetime-cost-other-name" type="text">
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <label class="govuk-label" for="child2-onetime-cost-other">
                Amount
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="child2-onetime-cost-other" name="child2-onetime-cost-other" type="text">
              </div>
            </div>
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
