{% extends "layouts/main-v3.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Work out how much you spend for your child" %}
{% set pageTitle = "How many children would you like to include?" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}

    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form action="child-name" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  {{pageTitle}}
                </h1>
              </legend>

              <input class="govuk-input govuk-input--width-5" id="cw-child-amount" name="cw-child-amount" type="text" spellcheck="false" inputmode="numeric">

            </fieldset>
          </div>

          {{ govukButton({
            text: "Continue"
          }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
