{% extends "layouts/main-v2.html" %}

{% set pageName="Index" %}

{% set includeServiceNav = "false" %}
{% set includePhaseBanner = "false" %}
{% set includeBackLink = "false" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-m">May 2026 — Version 2</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">FBA Alpha Phase | UR Round 1 Prototype</h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">About this prototype</h2>

    <p class="govuk-body">
      An alpha phase prototype that aims to explore how we can guide parents to the right level of support at the right time.
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    <div class="hide-accordion-toggle">
      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "Problem statement"
            },
            content: {
              html: '<p>Parents need flexible, bespoke support to create family-based arrangements, but excessive tooling risks confusion and disengagement.</p>'
            }
          },
          {
            heading: {
              text: "Hypotheses"
            },
            content: {
              html: '<ol class="govuk-list govuk-list--number">
                <li>If we design a core set of modular tools that can be used together or independently to guide parents to the right level of support at the right time, 
                  then more parents will successfully set up and maintain sustainable, tailored FBAs.</li>
                <li>If we give parents flexible support tools that make it easy to review and adapt their FBA when circumstances change, 
                  then they will be more likely to return to these tools to sustain their arrangement over time.</li>
              </ol>'
            }
          }
        ]
      }) }}
    </div>

    {{ govukButton({
      text: "Start",
      href: "home",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
