.govuk-ticket-panel {
  margin: 0 0;
}

.govuk-ticket-panel__content {
  background: #F3F3F3;
  padding: 20px;
  border-left: 10px solid #1D70B8;
}

.govuk-ticket-panel__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.govuk-ticket-panel__content .govuk-body {
  margin-bottom: 20px;
}

.govuk-ticket-panel .govuk-button {
  margin-bottom: 20px;
}