{% extends "layouts/main-v3.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['cw-child1Name'] or 'Child 1') %} {% set child2 = (data['cw-child2Name'] or 'Child 2') %} {% set child3 = (data['cw-child3Name'] or 'Child 3') %} {% set child4 = (data['cw-child4Name'] or 'Child 4') %} {% set child5 = (data['cw-child5Name'] or 'Child 5') %}

{% set serviceName = "Work out how much you spend for your child" %}
{% set pageTitle = "Do you want to include the same spending for all children?" %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    "text": "Back",
    "href": "javascript:history.back()"
    }) 
  }}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="same-costs-check" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{pageTitle}}
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sameCosts" name="sameCosts" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="sameCosts">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sameCosts-2" name="sameCosts" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="sameCosts-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
