{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}
{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Get support as a single parent" %}

{% block content %}
  <div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../support.html">Get support</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="single-parent-support.html">Single parent support</a>
      </li>      
    </ol>
  </nav>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            These organisations offer a wide range of resources to help single parents with employment, finances, housing, legal rights, parenting, and more. Their contact methods include a mix of face-to-face and online.
          </p>

          <h1 class="govuk-heading-m">Children and Family Court Advisory and Support Services (CAFCASS)</h1>

          <p>CAFCASS promotes the welfare of children, advises family courts, and helps represent children.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.cafcass.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Cafcass - Children and Family Court Advisory and Support Service (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0300 456 4000
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Both Parents Matter</h1>

          <p>Both Parents Matter supports and informs parents and others who are excluded from the lives of their children, or who seek to share in parenting. It also provides a telephone helpline, a web forum, and regional meetings.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://bothparentsmatter.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Both Parents Matter (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0300 0300 363
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:fnf@fnf.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">fnf@fnf.org.uk</a>
              </dd>
            </div>      
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Gingerbread's single parent helpline</h1>

          <p>Gingerbread's Single Parent Helpline provides free information about benefits, child maintenance, contact, debt, education, employment, and housing.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.gingerbread.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Gingerbread (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                Telephone: 0808 802 0925<br>
                Helpline: 020 7428 5400
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">One Parent Families Scotland (OPFS)</h1>

          <p>OPFS provides a free telephone helpline, family support services, and childcare. It can give advice on benefits, child maintenance, housing, legal rights, returning to work or education, and tax.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://opfs.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">One Parent Families Scotland (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0808 801 0323
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:info@opfs.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">info@opfs.org.uk</a>
              </dd>
            </div>          
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Family Lives (formally ParentlinePlus)</h1>

          <p>Family Lives provides a free telephone helpline, live chat online support, parenting courses, and workshops.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.familylives.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Family Lives (Parentline Plus)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0808 800 2222
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Parentline Scotland</h1>

          <p>Parentline Scotland is provided by the charity Children First. It provides a free telephone helpline and email service.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.childrenfirst.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Children First (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0800 028 2233
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:parentlinescotland@children1st.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">parentlinescotland@children1st.org.uk</a>
              </dd>
            </div>           
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Parenting NI (formerly Parents Advice Centre)</h1>

          <p>Parenting NI is for any family member worried about a behavioural, emotional or relationship difficulty. It provides a free telephone helpline and face-to-face support at its centres.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.parentingni.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Parenting NI (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0808 8010 722
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:Belfast@pachelp.org" class="govuk-link" rel="noreferrer noopener" target="_blank">Belfast@pachelp.org</a>
              </dd>
            </div>           
          </dl>
        </div>
      </div>
    </main>
  </div>

  {#
  <div class="chat-widget">
    <button class="chat-button">Chat with us</button>
  </div>
  #}
{% endblock %}
