{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}

{% set pageTitle = "What costs will you split?" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <h1 class="govuk-heading-l">{{pageTitle}}</h1>

            <p class="govuk-body">
              Parents can agree to be more flexible, paying for items or services as needed. The split can be by half or another percent. You may also agree to pay for different things.
            </p>

            <!-- ALL AGES -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="all-ages-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  All ages
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-food" name="split-costs-all-ages" type="checkbox" value="food">
                    <label class="govuk-label govuk-checkboxes__label" for="all-food">Food</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-childcare" name="split-costs-all-ages" type="checkbox" value="childcare">
                    <label class="govuk-label govuk-checkboxes__label" for="all-childcare">Childcare (including nursery or playgroups)</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-clothing" name="split-costs-all-ages" type="checkbox" value="clothing">
                    <label class="govuk-label govuk-checkboxes__label" for="all-clothing">Clothing (including school uniforms)</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-toiletries" name="split-costs-all-ages" type="checkbox" value="toiletries">
                    <label class="govuk-label govuk-checkboxes__label" for="all-toiletries">Toiletries and medicines</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-toys" name="split-costs-all-ages" type="checkbox" value="toys">
                    <label class="govuk-label govuk-checkboxes__label" for="all-toys">Toys, books and play items</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-travel" name="split-costs-all-ages" type="checkbox" value="travel">
                    <label class="govuk-label govuk-checkboxes__label" for="all-travel">Travel (for example school runs or activities)</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-activities" name="split-costs-all-ages" type="checkbox" value="activities">
                    <label class="govuk-label govuk-checkboxes__label" for="all-activities">Activities (for example sports or clubs)</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="all-other" name="split-costs-all-ages" type="checkbox" value="other" data-aria-controls="conditional-all-other">
                    <label class="govuk-label govuk-checkboxes__label" for="all-other">Other</label>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-all-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="all-other-details">Describe the cost</label>
                      <input class="govuk-input" id="all-other-details" name="all-other-details" type="text">
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>


            <!-- BABY -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Baby
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="baby-cot" name="split-costs-baby" type="checkbox" value="cot">
                    <label class="govuk-label govuk-checkboxes__label" for="baby-cot">Cot or crib</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="baby-pram" name="split-costs-baby" type="checkbox" value="pram">
                    <label class="govuk-label govuk-checkboxes__label" for="baby-pram">Pram, pushchair or buggy</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="baby-car-seat" name="split-costs-baby" type="checkbox" value="car-seat">
                    <label class="govuk-label govuk-checkboxes__label" for="baby-car-seat">Car seat</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="baby-feeding" name="split-costs-baby" type="checkbox" value="feeding">
                    <label class="govuk-label govuk-checkboxes__label" for="baby-feeding">Feeding equipment</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="baby-other" name="split-costs-baby" type="checkbox" value="other" data-aria-controls="conditional-baby-other">
                    <label class="govuk-label govuk-checkboxes__label" for="baby-other">Other</label>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-baby-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="baby-other-details">Describe the cost</label>
                      <input class="govuk-input" id="baby-other-details" name="baby-other-details" type="text">
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>


            <!-- YOUNGER CHILD -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Younger child
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="young-school-trips" name="split-costs-younger" type="checkbox" value="school-trips">
                    <label class="govuk-label govuk-checkboxes__label" for="young-school-trips">School trips</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="young-computer" name="split-costs-younger" type="checkbox" value="computer">
                    <label class="govuk-label govuk-checkboxes__label" for="young-computer">Computer or tablet</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="young-bike" name="split-costs-younger" type="checkbox" value="bike">
                    <label class="govuk-label govuk-checkboxes__label" for="young-bike">Bike</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="young-other" name="split-costs-younger" type="checkbox" value="other" data-aria-controls="conditional-young-other">
                    <label class="govuk-label govuk-checkboxes__label" for="young-other">Other</label>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-young-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="young-other-details">Describe the cost</label>
                      <input class="govuk-input" id="young-other-details" name="young-other-details" type="text">
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>


            <!-- OLDER CHILD / TEEN -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Older child or teenager
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="older-school-trips" name="split-costs-older" type="checkbox" value="school-trips">
                    <label class="govuk-label govuk-checkboxes__label" for="older-school-trips">School trips</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="older-computer" name="split-costs-older" type="checkbox" value="computer">
                    <label class="govuk-label govuk-checkboxes__label" for="older-computer">Computer or laptop</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="older-phone" name="split-costs-older" type="checkbox" value="phone">
                    <label class="govuk-label govuk-checkboxes__label" for="older-phone">Mobile phone</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="older-bike" name="split-costs-older" type="checkbox" value="bike">
                    <label class="govuk-label govuk-checkboxes__label" for="older-bike">Bike</label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="older-other" name="split-costs-older" type="checkbox" value="other" data-aria-controls="conditional-older-other">
                    <label class="govuk-label govuk-checkboxes__label" for="older-other">Other</label>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-older-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="older-other-details">Describe the cost</label>
                      <input class="govuk-input" id="older-other-details" name="older-other-details" type="text">
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>

            

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
