{% extends "layouts/main-v3.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Create a financial arrangement" %}
{% set pageTitle = "Check your answers" %}

{% set child1 = (data['child1Name'] or 'Child 1') %} {% set child2 = (data['child2Name'] or 'Child 2') %} {% set child3 = (data['child3Name'] or 'Child 3') %} {% set child4 = (data['child4Name'] or 'Child 4') %} {% set child5 = (data['child5Name'] or 'Child 5') %}
{% set parentName = (data['parentName'] or 'Parent 1') %} {% set otherName = (data['otherName'] or 'Parent 2') %}

{% set whoPaysLabels = {
  "parent1": "Food and toiletries",
  "parent2": "Clothing"
} %}

{% set sharedCostLabels = {
  "food": "Food and toiletries",
  "clothing": "Clothing",
  "education": "Education",
  "baby": "Baby care",
  "childcare": "Childcare",
  "activities": "Hobbies and activities",
  "technology": "Technology and entertainment",
  "travel": "Travel and transport",
  "healthcare": "Healthcare",
  "household": "Household costs and bills",
  "savings": "Savings and allowances",
  "one-off": "One-off costs",
  "other": data['other-custom'] or "Other"
} %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}

    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="confirmation" method="post">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <!-- ARRANGEMENT DETAILS -->
          
          <h2 class="govuk-heading-m">Arrangement details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Have both parents agreed?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['bothParents'] | capitalize }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="have-both-parents-agreed">Change<span class="govuk-visually-hidden"> if both parents agreed how to financially support their child</span></a>
              </dd>
            </div>            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of children
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['childAmount'] or 1 }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="child-amount">Change<span class="govuk-visually-hidden"> number of children</span></a>
              </dd>
            </div>                
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if data['childAmount'] > 1 %}
                Childrens' names
                {% else %}
                Child's name
                {% endif %}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ child1 }}{% if data['childAmount'] > 1 %}, {{ child2 }}{% endif %}{% if data['childAmount'] > 2 %}, {{ child3 }}{% endif %}{% if data['childAmount'] > 3 %}, {{ child4 }}{% endif %}{% if data['childAmount'] > 4 %}, {{ child5 }}{% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="child-name">Change<span class="govuk-visually-hidden"> {% if data['childAmount'] > 1 %}childrens' names{% else %}child's name{% endif %}</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Parents' names
              </dt>
              <dd class="govuk-summary-list__value">
                {{parentName}}, {{otherName}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="parent-name">Change<span class="govuk-visually-hidden"> parents' names</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What type of financial arrangement do you have?
              </dt>
              <dd class="govuk-summary-list__value">
              {% if 'regular' in data['arrangement-type'] %}
                We make regular payments
              {%elif 'shared' in data['arrangement-type'] %}
                We both spend money as needed
              {% elif 'regular' in data['arrangement-type'] and 'shared' in data['arrangement-type'] %}
                We make regular payments and we both spend money as needed
              {% else %}
                Something else
              {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="type-of-arrangement">Change<span class="govuk-visually-hidden"> financial arrangement type</span></a>
              </dd>
            </div>
          </dl>

          <!-- REGULAR PAYMENTS -->

          {% if 'regular' in data['arrangement-type'] %}

          {% if 'regular' in data['arrangement-type'] and 'shared' in data['arrangement-type'] %}          
          <h2 class="govuk-heading-m">Section 1 of 3: Regular payments</h2>
          {% else %}
          <h2 class="govuk-heading-m">Section 1 of 2: Regular payments</h2>
          {% endif %}

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Who will make payments?
              </dt>
              <dd class="govuk-summary-list__value">
                {% set labels = {
                  "who-will-pay": {
                    "parent1": parentName + " will pay " + otherName,
                    "parent2": otherName + " will pay " + parentName,
                    "bank-transfer": "Bank transfer"
                  }
                } %}
                {{ labels['who-will-pay'][data['whoWillPay']] }}                  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="regular-who-pays">Change<span class="govuk-visually-hidden"> who will make payments</span></a>
              </dd>
            </div>            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key">
                What is the payment amount?
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['regularAmount'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="regular-payment">Change<span class="govuk-visually-hidden"> regular payment details</span></a>
              </dd>
            </div>            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key">
                {% if data['whoWillPay'] == "parent1" %}
                How often will {{parentName}} make the payment?
                {% elif data['whoWillPay'] == "parent2" %}
                How often will {{otherName}} make the payment?
                {% endif %}              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['regularFrequency'] | capitalize }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional details
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['explain-regular'] == "yes" %}
                {{ data['detail-explain-regular'] | capitalize }}
                {% else %}
                None
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              {% if data['whoWillPay'] == "parent1" %}
              How will {{parentName}} make payments?
              {% elif data['whoWillPay'] == "parent2" %}
              How will {{otherName}} make payments?
              {% endif %}
              </dt>
              <dd class="govuk-summary-list__value">
                {% set labels = {
                  "payment-method": {
                    "standing-order": "Standing order",
                    "bank-transfer": "Bank transfer",
                    "cash": "Cash payment"
                  }
                } %}
                {{ labels['payment-method'][data['regularMethod']] }}               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="regular-method">Change<span class="govuk-visually-hidden"> how payments will be made</span></a>
              </dd>
            </div>
          </dl>

          {% endif %}

          <!-- SHARED SPENDING -->

          {% if 'shared' in data['arrangement-type'] %}

          {% if 'regular' in data['arrangement-type'] and 'shared' in data['arrangement-type'] %}          
          <h2 class="govuk-heading-m">Section 2 of 3: Shared spending</h2>
          {% else %}
          <h2 class="govuk-heading-m">Section 1 of 2: Shared spending</h2>
          {% endif %}

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Which shared spending do you want to include?
              </dt>
              <dd class="govuk-summary-list__value">
                {% set selectedCosts = data['shared-cost'] %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in selectedCosts %}
                  <li>{{ sharedCostLabels[item] }}</li>
                  {% endfor %}
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="shared-costs">Change<span class="govuk-visually-hidden"> which shared spending you want to include</span></a>
              </dd>
            </div>
            {% if data['shareEqually'] == "yes" %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            {% else %}
            <div class="govuk-summary-list__row">
            {% endif %}
              <dt class="govuk-summary-list__key">
                Will you spend money for these things equally?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['shareEqually'] | capitalize }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="shared-equally">Change<span class="govuk-visually-hidden"> if you will spend money for these things equally</span></a>
              </dd>
            </div>
            {% if data['shareEqually'] == "yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional details
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['detail-shareEqually'] %}
                {{ data['detail-shareEqually'] | capitalize }}
                {% else %}
                None
                {% endif %}
              </dd>
            </div>
            {% endif %}

            {% if data['shareEqually'] == "no" %}
            {% if data['shareMost'] == "yes" %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            {% else %}
            <div class="govuk-summary-list__row">
            {% endif %}
            <dt class="govuk-summary-list__key">
                Will one parent spend money for most or all of these things?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['shareMost'] | capitalize }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="shared-most">Change<span class="govuk-visually-hidden"> if one parent will spend money for most or all of these things</span></a>
              </dd>
            </div>
            {% if data['shareMost'] == "yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional details
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['detail-shareMost'] %}
                {{ data['detail-shareMost'] | capitalize }}
                {% else %}
                None
                {% endif %}
              </dd>
            </div>
            {% endif %}
            {% endif %}

            {% if data['shareMost'] == "no" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will you both spend money for these things?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['shareHow'] %}
                {{ data['shareHow'] | capitalize }}
                {% else %}
                None
                {% endif %}                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="shared-how">Change<span class="govuk-visually-hidden"> how will you both spend money for these things</span></a>
              </dd>
            </div>
            {% endif %}

          </dl>

          {% endif %}

          {% if 'other' in data['arrangement-type'] %}   
            
          <h2 class="govuk-heading-m">Section 1 of 2: Financial arrangement</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                What is your financial arrangement?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['fa-description'] | capitalize }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="anything-else">Change<span class="govuk-visually-hidden"> anything else you want to include in this arrangement</span></a>
              </dd>
            </div>

          </dl>

          {% endif %}

          <!-- ANYTHING ELSE -->

          {% if 'regular' in data['arrangement-type'] and 'shared' in data['arrangement-type'] %}          
          <h2 class="govuk-heading-m">Section 3 of 3: Anything else</h2>
          {% else %}
          <h2 class="govuk-heading-m">Section 2 of 2: Anything else</h2>
          {% endif %}

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Is there anything else you want to include in this arrangement?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['anythingElse'] %}
                {{ data['anythingElse'] | capitalize }}
                {% else %}
                None
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="anything-else">Change<span class="govuk-visually-hidden"> anything else you want to include in this arrangement</span></a>
              </dd>
            </div>

          </dl>
          

          {{ govukButton({
            text: "Continue"
          }) }}

          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
