{% extends "layouts/main.html" %}

{% block pageTitle %}
  Get financial advice – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Get financial advice</h1>

    <p class="govuk-body">
      Follow these links to Universal Credit, and GOV.UK partner oganisations to get financial advice.
    </p>

    <h1 class="govuk-heading-m">Benefits</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Apply for or manage Universal Credit</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Benefits calculator</a>
      </li>           
    </ul>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h1 class="govuk-heading-m">Budgetting</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Budget planner</a>
      </li>          
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Debt management</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Check how you can deal with your debts</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Get free debt advice</a>
      </li>            
    </ul>

  </div>
</div>

{% endblock %}
