{% extends "layouts/main.html" %}

{% block pageTitle %}
  Single parent support hub – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Single parent support hub</h1>

    <p class="govuk-body">
      This support hub provides guidance and tools for parents navigating family separation.
    </p>

    <p class="govuk-body">
      Although we try to keep links up to date, we cannot be responsible for external websites. We do not collect any data while you are using this service and cannot help with any private arrangements.
    </p>

    <div class="dfe-grid-container govuk-!-margin-top-9">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="work-out-what-to-pay" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Work out payments for your child</a>
            </h3>
            <p>Using our tools, you can work out the cost of your child and calculate your child maintenance.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="planning-private-arrangement" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan your private arrangement</a>
            </h3>
            <p>Learn how to have productive conversations and use our tool to build a written agreement to guide your contributions toward your child.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="child-maintenance-service" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Use the Child Maintenance Service</a>
            </h3>
            <p>If you need a government-managed child maintenane case, you can apply online.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="separation-advice" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get advice on separation</a>
            </h3>
            <p>Explore resources from recommended organisations. They can help you talk to your children about separation, find a mediator, and more.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="financial-advice" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get financial advice</a>
            </h3>
            <p>Government and recommend organisations can help you with benefits, budgets and debt.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="support" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get additional support</a>
            </h3>
            <p>Explore resources for single parents and mental health.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-widget">
  <button class="chat-button">Chat with us</button>
</div>



{% endblock %}
