{% extends "layouts/main.html" %}

{% block pageTitle %}
  Separated Families Support Hub – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Separated Families Support Hub</h1>

    <p class="govuk-body">
      This support hub provides guidance and tools for parents navigating family separation.
    </p>

    <p class="govuk-body">
      Although we try to keep links up to date, we cannot be responsible for external websites. We do not collect any data while you are using this service and cannot help with any private arrangements.
    </p>

    <div class="dfe-grid-container govuk-!-margin-top-9">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="work-out-what-to-pay" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Work out what you should pay</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="planning-private-arrangement" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Plan your private arrangement</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="child-maintenance-service" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Using the Child Maintenance service</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="separation-advice" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get advice on separation</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="financial-advice" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Get financial advice</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="support" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Additional support</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
  </div>


  </div>
</div>

{% endblock %}
