{% extends "layouts/main.html" %}

{% block pageTitle %}
  Planning a private arrangement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Planning a private arrangement</h1>

    <p class="govuk-body">
      Paragraph to explain the kinds of activities parents may want to do to start planning their private arrangements.
    </p>

    <h1 class="govuk-heading-m">Deciding on a private arrangement</h1>

    <p class="govuk-body">
      Paragraph explaining private arrangements.
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/child-maintenance-service/private-arrangement" class="govuk-link govuk-link--no-visited-state">Get help to make an arrangement</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Write an agreement</h1>

    <p class="govuk-body">
      The purpose of the agreement is to record how much one parent will pay to the other parent to cover the costs involved in a child's upbringing.
    </p>

    <p class="govuk-body">
      <a href="agreement/start" class="govuk-link govuk-link--no-visited-state">Create an agreement template</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Plan your conversation</h1>

    <p class="govuk-body">
      Paragraph about planning a conversation with the other parent.
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation" class="govuk-link govuk-link--no-visited-state">Planning your child maintenance conversation</a>
    </p>


  </div>
</div>

{% endblock %}
