{% extends "layouts/main.html" %}

{% block pageTitle %}
  Get separation advice – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Get separation advice</h1>

    <p class="govuk-body">
      These resources from the government and recommended organisations can help you communicate with the other parent, get help if you are apart from your child, and prepare your legal options.
    </p>

    <h1 class="govuk-heading-m">Getting support and guidance</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Find a mediator</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Speak to Citizens Advice</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Learn how to tell your children about separation</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Making Arrangements for Your Children</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Get support if you are separated from your children</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Make arrangements if you are divorced or separating</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Legal and financial steps</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Sort out your finances for separation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Get a divorce</a>
      </li>
    </ul>

  </div>
</div>

<div class="chat-widget">
  <button class="chat-button">Chat with us</button>
</div>

{% endblock %}
