{% extends "layouts/main.html" %}

{% block pageTitle %}
  Additional support – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Additional support</h1>

    <h1 class="govuk-heading-m">Getting support as a single parent</h1>

    <p class="govuk-body">
      Follow these links to GOV.UK partner oganisations to seek help and advice from people in similar positions to your own.
    </p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Support as a single parent</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Getting mental health support</h1>

    <p class="govuk-body">
      Follow these links to GOV.UK partner oganisations to seek support with your mental health.
    </p>
    
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Call a helpline</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Join a support group </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mental Health - NHS </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Get counselling for you or your child </a>
      </li>            
    </ul>

  </div>
</div>

{% endblock %}
