{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{ pageTitle }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Tools and guidance for your situation" %}


{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

          <p class="govuk-body">
            Based on the answers you gave us, we recommend certain tools for your situation, but what you do next is your decision.
          </p>

          <p class="govuk-body">
            You can use our resources to work out how to pay for your child's needs and get support for yourself.
          </p>

          <hr class="govuk-section-break govuk-section-break--m">

          <div class="govuk-accordion" data-module="govuk-accordion" id="output-accordion">

            <!-- DEFAULT - NO REVIEW -->

            {% if data['reviewFA'] == "no" 
            or (data['reviewFA'] == "yes" and not data['review-reasons']) %}

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you already have a financial arrangement
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  The Child Maintenance Calculator can help you work out an exact payment amount from one parent to the other. 
                  You will need to know the paying parent's income and other details that affect their ability to pay. 
                  You do not need to use the Child Maintenance Service to use the calculator.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/calculate-child-maintenance">Use the Child Maintenance Calculator (opens in a new tab)</a>
                </p>
                <p class="govuk-body">
                  Our cost worksheet can help you organise and add up how much you spend on your child's needs.
                  All costs are optional and we will not save your answers. You can take the cost worksheet to discussions 
                  to help agree on a financial arrangement.
                </p>
                <p class="govuk-body">
                  <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Fill out the cost worksheet (opens in a new tab)</a>
                </p>                   
              </div>
            </div>
            {% endif %}

            <!-- DEFAULT - NO CREATE -->

            {% if data['createFA'] == "no" 
            or (data['createFA'] == "yes" and not data['create-reasons']) %}

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you don't have a financial arrangement
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  The Child Maintenance Calculator can help you work out an exact payment amount from one parent to the other. 
                  You will need to know the paying parent's income and other details that affect their ability to pay. 
                  You do not need to use the Child Maintenance Service to use the calculator.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/calculate-child-maintenance">Use the Child Maintenance Calculator (opens in a new tab)</a>
                </p>
                <p class="govuk-body">
                  Our cost worksheet can help you organise and add up how much you spend on your child's needs.
                  All costs are optional and we will not save your answers. You can take the cost worksheet to discussions 
                  to help agree on a financial arrangement.
                </p>
                <p class="govuk-body">
                  <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Fill out the cost worksheet (opens in a new tab)</a>
                </p>                   
              </div>
            </div>
            {% endif %}

            {% if data.canYouTalk == "no" %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-FA">
                    Because you told us you cannot currently talk about finances for your children together
                  </span>
                </h2>
              </div>
              <div id="output-content-FA" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  If communication about money is difficult, mediation can help you have structured, supported conversations 
                  and work towards agreement in a safe and neutral setting.

                </p>
                <p class="govuk-body">
                  <a href="../resources/mediation" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Find a mediation organisation (opens in a new tab)</a>
                </p>
              </div>
            </div>
            {% endif %}
            
            {% if data.createFA == "yes" %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-FA">
                    Because you told us you are setting up a financial arrangement
                  </span>
                </h2>
              </div>
              <div id="output-content-FA" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Many parents prefer to have their agreements in writing. You can record decisions about who pays 
                  for your child's different needs, schedules and any extra considerations. We will build a document 
                  that you an download and sign, but it is not legally binding.
                </p>
                <p class="govuk-body">
                  <a href="../agreement/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Use the financial arrangement tool (opens in a new tab)</a>
                </p>
              </div>
            </div>
            {% endif %}

            <!-- CREATE REASONS -->

            <!-- CREATE - NEED HELP TALKING -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("help-talking") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you need help talking about money for your child
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Having a clear structure can make conversations about finances easier and help you stay focused on your child’s needs. 
                  Our step-by-step guide can support you in keeping discussions calm and on track.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation">Planning your conversation (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}

            <!-- CREATE - EXACT AMOUNT -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("exact") and not data['create-reasons'].includes("estimate") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you need an exact payment amount
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  The Child Maintenance Calculator can help you work out an exact payment amount from one parent to the other. 
                  You will need to know the paying parent's income and other details that affect their ability to pay. 
                  You do not need to use the Child Maintenance Service to use the calculator.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/calculate-child-maintenance">Use the Child Maintenance Calculator (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}

            <!-- CREATE - ESTIMATE AMOUNT -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("estimate") and not data['create-reasons'].includes("exact") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you need an estimated maintenance payment
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Our Child Maintenance Estimator is a better option if you do not know the paying parent's income. 
                  You can use it to get an estimate and help guide your conversations about paying for your child's needs.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="#">Use the Child Maintenance Estimator (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}

            <!-- CREATE - EXACT AND ESTIMATE -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("exact") and data['create-reasons'].includes("estimate") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you need to work out a maintenance payment
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  The Child Maintenance Calculator can help you work out an exact payment amount from one parent to the other. 
                  You will need to know the paying parent's income and other details that affect their ability to pay.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/calculate-child-maintenance">
                    Use the Child Maintenance Calculator (opens in a new tab)
                  </a>
                </p>

                <p class="govuk-body">
                  The Child Maintenance Estimator is a better option if you do not know the paying parent's income. 
                  You can use it to get an estimate and help guide your conversations about paying for your child's needs.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="#">
                    Use the Child Maintenance Estimator (opens in a new tab)
                  </a>
                </p>
              </div>
            </div>
            {% endif %}

            <!-- CREATE - WORK OUT COSTS -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("costs") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you want to work out costs
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Our cost worksheet can help you organise and add up how much you spend on your child's needs.
                  All costs are optional and we will not save your answers. You can take the cost worksheet to discussions 
                  to help agree on a financial arrangement.
                </p>
                <p class="govuk-body">
                  <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Fill out the cost worksheet (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}   

            <!-- CREATE - FINANCE AND BUDGET ADVICE -->
            {% if data['doYouHaveFA'] == "no" and data['create-reasons'] and data['create-reasons'].includes("advice") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you need finance and budget advice
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Our financial advice resources can help you set up budgets, apply for benefits, find an advisor and more. 
                </p>
                <p class="govuk-body">
                  <a href="../financial-advice" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">See our full list of resources (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}        

            <!-- REVIEW REASONS -->

            <!-- REVIEW - FINANCE AND BUDGET ADVICE -->
            {% if data['doYouHaveFA'] != "no" and data['review-reasons'] and data['review-reasons'].includes("unaffordable") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us your arrangement is no longer affordable
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Our financial advice resources can help you set up budgets, apply for benefits, find an advisor and more. 
                </p>
                <p class="govuk-body">
                  <a href="../financial-advice" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">See our full list of resources (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}

            <!-- REVIEW - FINANCIAL SITUATION -->
              {% if data['doYouHaveFA'] != "no" and data['review-reasons'] and data['review-reasons'].includes("financial-change") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us your financial situation has changed
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                
                <p class="govuk-body">
                  The Child Maintenance Calculator can help you work out an exact payment amount from one parent to the other. 
                  You will need to know the paying parent's income and other details that affect their ability to pay.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/calculate-child-maintenance">
                    Use the Child Maintenance Calculator (opens in a new tab)
                  </a>
                </p>

                <p class="govuk-body">
                  The Child Maintenance Estimator is a better option if you do not know the paying parent's income. 
                  You can use it to get an estimate and help guide your conversations about paying for your child's needs.
                </p>
                <p class="govuk-body">
                  <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="#">
                    Use the Child Maintenance Estimator (opens in a new tab)
                  </a>
                </p>

              </div>
            </div>
            {% endif %}

            <!-- REVIEW - CARE ARRANGEMENT -->
            {% if data['doYouHaveFA'] != "no" and data['review-reasons'] and data['review-reasons'].includes("care-change") and data['careArrangement'] != "yes" %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-care">
                    Because you told us your care arrangement has changed
                  </span>
                </h2>
              </div>
              <div id="output-content-care" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  You can create a care arrangement plan that sets out where your child spends their time, including 
                  schedules, handovers, and holidays. It also covers additional topics such as religious practices, diet and 
                  who else has access. While the plan is not legally binding, support is available if you need to take further steps 
                  such as setting up court orders.
                </p>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Use the Ministry of Justice service (opens in a new tab)</a>
                </p>             
              </div>
            </div>
            {% endif %}

            <!-- REVIEW - WORK OUT COSTS -->
            {% if data['doYouHaveFA'] != "no" and data['review-reasons'] and data['review-reasons'].includes("costs") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you want to work out costs
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Our cost worksheet can help you organise and add up how much you spend on your child's needs.
                  All costs are optional and we will not save your answers. You can take the cost worksheet to discussions 
                  to help agree on a financial arrangement.
                </p>
                <p class="govuk-body">
                  <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Fill out the cost worksheet (opens in a new tab)</a>
                </p>          
              </div>
            </div>
            {% endif %}   

            <!-- REVIEW - WORK OUT COSTS -->
            {% if data['doYouHaveFA'] != "no" and data['review-reasons'] and data['review-reasons'].includes("disagreement") %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-costs">
                    Because you told us you cannot agree on your arrangement
                  </span>
                </h2>
              </div>
              <div id="output-content-costs" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  If you need mediation to navigate conflict, we recommend speaking to one of our <a href="../calculator/start" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">listed specialised organisations (opens in a new tab)</a>.
                </p>
              </div>
            </div>
            {% endif %}   

            <!-- CARE ARRANGEMENTS -->
            {% if data.careArrangement != "no" %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-care">
                    Because you told us you need to change or set up care arrangements
                  </span>
                </h2>
              </div>
              <div id="output-content-care" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  You can create a care arrangement plan that sets out where your child spends their time, including 
                  schedules, handovers, and holidays. It also covers additional topics such as religious practices, diet and 
                  who else has access. While the plan is not legally binding, support is available if you need to take further steps 
                  such as setting up court orders.
                </p>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Use the Ministry of Justice service (opens in a new tab)</a>
                </p>             
              </div>
            </div>
            {% endif %}

            <!-- SAFETY CONCERNS -->
            {% if data.safetyConcerns == "yes" %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-FA">
                    Because you told us you have concerns about safety for you or your child
                  </span>
                </h2>
              </div>
              <div id="output-content-FA" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Safety for you and your child should be at the centre of any financial or care arrangement.
                </p>
                <p class="govuk-body">
                  Domestic abuse or violence is a crime. It is important to remember that there is help and support available to you, including 
                  <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">police response, online support, refuges and other services (opens in a new tab)</a>. 
                </p>                
                <p class="govuk-body">
                  Counselling and therapy can also be a helpful way to
                  <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">address conflicts and concerns for individuals or families (opens in a new tab)</a>.
                </p>
              </div>
            </div>
            {% endif %}

            {#
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="output-heading-other">
                    Other options that may be relevant to your situation
                  </span>
                </h2>
              </div>
              <div id="output-content-other" class="govuk-accordion__section-content govuk-!-padding-top-0">
                <p class="govuk-body">
                  Based on the answers you gave us, these are some additional tools and guidance that may be relevant to your situation.
                </p>
                <ul class="govuk-list">

                  <li>
                    <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.moneyhelper.org.uk/en/everyday-money/budgeting/budget-planner">Use the budget planner from MoneyHelper (opens in a new tab)</a>
                  </li>

                  <li>
                    <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation">Planning your conversation (opens in a new tab)</a>
                  </li>

                </ul>
              </div>
            </div>
            #}

          </div>

          <hr class="govuk-section-break govuk-section-break--m">

          <h3 class="govuk-heading-m">If you're not sure what to do</h3>

          <p class="govuk-body">
            You do not need to decide anything right away. Take time to explore your options and return when you feel ready to make decisions.
          </p>

          <p class="govuk-body">
            <a href="../home" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Explore the single parent support hub (opens in a new tab)</a>
          </p>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
