{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Find tools to financially support your child" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        }
      ]
    }) }}    
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            This service can be used help you understand your options for supporting your child. You can use the service together as parents or as an individual.
          </p>

          <p class="govuk-body">
            If you are not sure which tools you need, this service can help you decide what to do next. 
            It will ask about any current financial and care arrangements, how you communicate as parents, 
            and if you have concerns for your child's well being. It will then highlight which of our tools 
            may be the most useful for you.
          </p>

          <div class="govuk-inset-text">
            The service is confidential. You do not have to explain your situation and your answers will not 
            be saved.
          </div>

          {{ govukButton({
            text: "Start now",
            href: "can-you-talk",
            isStartButton: true
          }) }}

        </div>
      </div>
    </main>
  </div>
{% endblock %}
