{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}
{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Get support if you are separated from your children" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        },
        {
          text: "Get separation advice",
          href: version + "/separation-advice"
        }        
      ]
    }) }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            These organisations can help if you are unable to see or contact your child.
          </p>

          <h1 class="govuk-heading-m">Both Parents Matter</h1>

          <p>Both Parents Matter supports and informs parents and others who are excluded from the lives of their children, or who seek to share in parenting. It also provides a telephone helpline, a web forum, and regional meetings.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://bothparentsmatter.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Both Parents Matter (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0300 0300 363
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:fnf@fnf.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">fnf@fnf.org.uk</a>
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">MATCH – Mothers Apart From Their Children</h1>

          <p>MATCH offers non-judgemental emotional support to mothers who are separated from their children. However, you must have membership to access more personalised support.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="http://www.matchmothers.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Match Mothers (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0800 689 4104
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:fnf@enquiries@matchmothers.org" class="govuk-link" rel="noreferrer noopener" target="_blank">enquiries@matchmothers.org</a>
              </dd>
            </div>      
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">The Centre for Separated Families</h1>

          <p>The Centre for Separated Families help parents, grandparents and other significant adults to find ways of building co-operative, post-separation parenting relationships that put the needs of children first. It provides an email advice service.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.separatedfamilies.info/" class="govuk-link" rel="noreferrer noopener" target="_blank">Separated Families (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0845 478 6360
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </main>
  </div>

  {#
  <div class="chat-widget">
    <button class="chat-button">Chat with us</button>
  </div>
  #}
{% endblock %}
