{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}
{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Find mediation resources" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        },
        {
          text: "Get separation advice",
          href: version + "/separation-advice"
        }        
      ]
    }) }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            These organisations can help resolve conflicts between you and your child's other parent.
          </p>

          <h1 class="govuk-heading-m">Relationships Scotland</h1>

          <p>A network of affiliated local services providing relationship counselling, family mediation, child contact centres and other family support services.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.relationships-scotland.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Relationships Scotland (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0345 119 2020
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:enquiries@relationship-scotland.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">enquiries@relationship-scotland.org.uk</a>
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">National Family Mediation</h1>

          <p>National Family Mediation is an umbrella organisation for local, family mediation providers. It can provide a pack of 60 affiliated services. There are fees on sliding scale, including some public funding for low earners.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.relate.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Relate (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0300 100 1234
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">College of Mediators</h1>

          <p>The college is a membership body for mediators. It has a directory of mediators in England, Wales and Scotland. It includes privately run and not-for-profit mediation services.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://collegeofmediators.co.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">College Of Mediators (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0845 658 5258
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:admin@collegeofmediators.co.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">admin@collegeofmediators.co.uk</a>
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Tavistock</h1>

          <p>Tavistock provides face-to-face and online therapy, including counselling and psychotherapy for challenges in parenting, relationships, and sexual lives. Cost depends on choice of service.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://tavistockrelationships.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Tavistock relationships (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0207 380 1960
              </dd>
            </div>
          </dl>

        </div>
      </div>
    </main>
  </div>

  {#
  <div class="chat-widget">
    <button class="chat-button">Chat with us</button>
  </div>
  #}
{% endblock %}
