{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeBackLink = "false" %}
{% set serviceName = "Single parent support hub" %}
{% set pageTitle = "Learn how to tell your children about separation" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: version + "/home"
        },
        {
          text: "Get separation advice",
          href: version + "/separation-advice"
        }        
      ]
    }) }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{pageTitle}}</h1>

          <p class="govuk-body">
            The wellbeing of your child should be the highest priority during separation or divorce. There are many organisations that can help you talk to your child and support them.
          </p>

          <h1 class="govuk-heading-m">Gingerbread</h1>

          <p>The Single Parent Helpline provides free information about benefits, child maintenance, contact, debt, education, employment, and housing.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.gingerbread.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Gingerbread (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                Telephone: 0808 802 0925<br>
                Helpline: 020 7428 5400
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Family Lives (formally ParentlinePlus)</h1>

          <p>Family Lives provides a free telephone helpline, live chat online support, parenting courses, and workshops.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.familylives.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Family Lives (Parentline Plus)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0808 800 2222
              </dd>
            </div>
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Parentline Scotland</h1>

          <p>Parentline Scotland is provided by the charity Children First. It provides a free telephone helpline and email service.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://www.childrenfirst.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Children First (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0800 028 2233
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:parentlinescotland@children1st.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">parentlinescotland@children1st.org.uk</a>
              </dd>
            </div>          
          </dl>

          <hr class="govuk-section-break govuk-section-break--m">

          <h1 class="govuk-heading-m">Tavistock</h1>

          <p>Tavistock provides face-to-face and online therapy, including counselling and psychotherapy for challenges in parenting, relationships, and sexual lives. Cost depends on choice of service.</p>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Website
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="https://tavistockrelationships.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Tavistock relationships (opens in a new tab)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                0207 380 1960
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </main>
  </div>

  {#
  <div class="chat-widget">
    <button class="chat-button">Chat with us</button>
  </div>
  #}
{% endblock %}
