{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% set pageTitle = "Is there anything else you want to include in this arrangement? (optional)" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-answers" method="post">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="anything-else">
                  {{pageTitle}}
                </label>
              </h1>

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <textarea class="govuk-textarea govuk-js-character-count" id="anything-else" name="anythingElse" rows="5" aria-describedby="anything-else-info"></textarea>
                <div id="anything-else-info" class="govuk-hint govuk-character-count__message">
                  You can enter up to 500 characters
                </div>
              </div>
            </div>

            {{ govukButton({
              text: "Continue"
            }) }}

          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
