{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageTitle = "Create a GOV.UK One Login or sign in" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="output-saved" method="post">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="anything-else">
                  {{pageTitle}}
                </label>
              </h1>

              <p class="govuk-body">You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>an email address</li>
                <li>If parents will pay for costs separately</li>
                <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
              </ul>

              <div class="govuk-inset-text">
                You can also <a href="#" class="govuk-link">use GOV.UK One Login in Welsh (Cymraeg)</a>
              </div>

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Create a GOV.UK One Login"
                }) }}

                {{ govukButton({
                  text: "Sign in",
                  classes: "govuk-button--secondary"
                }) }}
              </div>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  About GOV.UK One Login
                </span>
              </summary>
            </details>

          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
