{% extends "layouts/main-v2.html" %}

{% set pageName="Index" %}

{% set includeServiceNav = "false" %}
{% set includePhaseBanner = "false" %}
{% set includeBackLink = "false" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-m">July 2026</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">UR Round 3 Prototype</h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">About this prototype</h2>

    <p class="govuk-body">
      A discovery prototype exploring sustainability and maintainability for parents within family based arrangements.
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    {{ govukButton({
      text: "Start",
      href: "home",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
