{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  {{pageTitle}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pageTitle %}
  What was your monthly income in {{data['arrangement-start-year']}}?
{% endset %}

{% set serviceName = "Single parent support hub" %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript:history.back()"
      }) 
    }}

    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form action="current-income" method="post">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-heading-l" for="income-start-amount">
                {{pageTitle}}
              </label>
            </h1>

            <p>If you do not remember the exact amount, tell us an estimate.</p>

            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="income-start-amount" name="income-start-amount" type="text" spellcheck="false">
            </div>

          </div>          

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
