{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototype home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeServiceNav = "false" %}
{% set includePhaseBanner = "false" %}
{% set includeBackLink = "false" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Family Based Arrangements (FBA) Prototype</h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
          Design team
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li><a class="govuk-link" href="mailto:james.seabright@engineering.digital.dwp.gov.uk">James Seabright</a> - Interaction Designer</li>
            <li><a class="govuk-link" href="mailto:natalie.rhodes2@dwp.gov.uk">Natalie Rhodes</a> - User Researcher</li>
            <li><a class="govuk-link" href="mailto:taryn.s.walls@dwp.gov.uk">Summer Walls</a> - Content Designer</li>
          </ul>
        </dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      FBA Alpha Phase | UR Round 3 &nbsp;&nbsp; <strong class="govuk-tag">Latest</strong>
    </h2>

    <p>July 2026</p>

    {{ govukButton({
      text: "View prototype",
      href: "v3/index"
    }) }}

    <h2 class="govuk-heading-m">
      FBA Alpha Phase | UR Round 2
    </h2>

    <p>May 2026</p>

    {{ govukButton({
      text: "View prototype",
      classes: "govuk-button--secondary",
      href: "v2/index"
    }) }}

    <h2 class="govuk-heading-m">
      FBA Discovery | UR Round 1
    </h2>

    <p>March 2026</p>

    {{ govukButton({
      text: "View prototype",
      classes: "govuk-button--secondary",
      href: "v1/index"
    }) }}

    

  </div>
</div>

{% endblock %}
