{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototype home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set includeServiceNav = "false" %}
{% set includePhaseBanner = "false" %}
{% set includeBackLink = "false" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Last modified on
        <script>
        var date = document.lastModified;
        document.write(date);
        </script>
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ serviceName }}</h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
          Design team
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li><a class="govuk-link" href="#">James Seabright</a> - Interaction Designer</li>
            <li><a class="govuk-link" href="#">Natalie Rhodes</a> - User Researcher</li>
            <li><a class="govuk-link" href="#">Robbie Beautyman</a> - Service Designer</li>
            <li><a class="govuk-link" href="#">Summer Walls</a> - Content Designer</li>
          </ul>
        </dd>
      </div>
    </dl>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      FBA UR Round 3 Prototype &nbsp;&nbsp; <strong class="govuk-tag">Latest</strong>
    </h2>

    <p><strong>Last Update:</strong> March 2026</p>

    {{ govukButton({
      text: "View prototype",
      href: "v1/index"
    }) }}

  </div>
</div>

{% endblock %}
