{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="parent-name">
            What is your name?
          </label>
        </h1>
        <input class="govuk-input" id="parent-name" name="parentName" type="text" spellcheck="false" autocomplete="name">
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
