{% extends "layouts/main.html" %}

{% block pageTitle %}
  Setting a review date – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set child1 = (data['child1Name'] or 'Child 1') %}
{% set child2 = (data['child2Name'] or 'Child 2') %}
{% set child3 = (data['child3Name'] or 'Child 3') %}
{% set parentName = (data['parentName'] or 'Parent 1') %}
{% set otherName = (data['otherName'] or 'Parent 2') %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

        <h1 class="govuk-heading-l">
          Setting a review date
        </h1>

        <p class="govuk-body">
          Things may change over time, so you might want to agree a date now to talk to each other and review your arrangement together – perhaps every 6 months.
        </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                When do you want to review this arrangement?
              </h1>
            </legend>
            <div id="review-date-hint" class="govuk-hint">
              For example, 27 3 2024
            </div>
            <div class="govuk-date-input" id="review-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="review-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="review-date-day" name="review-date-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="review-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="review-date-month" name="review-date-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="review-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="review-date-year" name="review-date-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
