{% extends "layouts/main.html" %}

{% block pageTitle %}
  Calculate the cost of raising a child – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Create an arrangement agreement</h1>

    <p class="govuk-body">
      Most children benefit from having both parents or guardians involved in their lives in a positive way, whether they live with them or not. Parents can help to do this by working together with their children’s long-term interests at heart.
    </p>

    <p class="govuk-body">
      This arrangement form can help you work together to make sure your children receive as much support as possible. Use it to make a record of what you have both agreed.
    </p>

    <p class="govuk-body">
      You can download or print the finished form off after filling it in.
    </p>

    <p class="govuk-body">
      You can work out how much each parent might need to pay first by using our <a href="../calculator/start" class="govuk-link">calculate the cost of your child tool</a>.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "child-amount",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
