{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader({
        homepageUrl: "/"
    }) }}
    {% if includeServiceNav != "false" %}
        {% if data['arrangementSaved'] == 'yes' %}
        {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: version + "/home",
        navigation: [
            {
            href: version + "/index",
            text: "Sign out"
            }
        ]
        })}}
    {% else %}
    {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: version + "/home"
    })}}    
    {% endif %}
    {% endif %}

{% endblock %}

{% block beforeContent %}

    {# {% if includePhaseBanner != "false" %}
    {{ govukPhaseBanner({
        tag: {
            text: "Alpha"
        },
        html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {% endif %} #}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
