{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endblock %}

{% block beforeContent %}

    {% if includePhaseBanner != "false" %}
    {{ govukPhaseBanner({
        tag: {
            text: "Alpha"
        },
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
    }) }}
    {% endif %}

    {% if includeBackLink != "false" %}
    {{ govukBackLink({
        "text": "Back",
        "href": "javascript:history.back()"
        }) 
    }}
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
